.ui-autocomplete {
    max-height: 100px;
    max-width: 400px;
    overflow-y: auto;
    overflow-x: hidden;
  }

.card-body:hover{
    transform: unset;
}

.cardTitle {
    background: linear-gradient(to right, #457B9D, #8ECAE6);
    color: #fec89a;
}

.card-text {
    max-height: 150px;
    overflow-y: auto;
}
