.navbar {
    background: linear-gradient(to right, #264653, #457b9d);
}

.navbar-brand {
    color: #fec89a;
}

.navbar-brand:hover {
    color: #fec89a;
    transform: scale(90%);
}

.btn-search {
    background-color: #e76f51;
}

.btn-randomize{
    background-color: #8ECAE6;
}

.loginPageLinks {
    all: unset;
}

.card-body:hover {
    transform: scale(90%);
}
.card-title {
    pointer-events: none;
}
.movieCard {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.ui-autocomplete {
    max-height: 100px;
    overflow-y: hidden;
    overflow-x: hidden;
}

#design {
    border: 0;
    min-width: 20vw;
    min-height: 20vw; 
    background: linear-gradient(to bottom, #264653, #457B9D, #8ECAE6, #A8DADB, #FEC89A, #E66F51);
    transition: all 0.3s ease-in-out 0s;
}

#design:hover {
    background-image: linear-gradient(to top, #264653, #457B9D, #8ECAE6, #A8DADB, #FEC89A, #E66F51);
}